h1{color:seagreen;
font-size: xx-large;
 text-align: center;}
 h2 {color: mediumseagreen;
  font-size:x-large}
body{background-color: honeydew; }
p{font-size: larger;}
.galerie {display: flex;
justify-content: center; gap: 20px; margin-top: 50px}
.galerie img {width: auto; object-fit: cover; height: 300px}
iframe{
display: block;
  margin: 0 auto;
  width: 560px;
  height: 315px;
  border: none;
  margin-top: 50px}
h3{font-size: larger;
	color: mediumseagreen;}
img {width: 400px; margin: 0 auto; display: block;}
.videowrap {display: flex;
justify-content: center;
gap: 20px;
margin-top: 50px}
.videowrap iframe {width: 560px;
height: 315px
}
a {font-size: xx-large; 
color: darkslategrey;}

ul{font-size: larger;}
il {font-size: larger;}
.blok{display: flex;
align-items: center; gap: 20px;
margin: 20px;}
.img {width: 300px; height: auto; }
.text {max-width: 400px; font-size: larger;}
.slunisko {
    display: flex;           
    align-items: center;  
    gap: 20px;                
    margin: 20px;
}
.vid {
    width: 400px;            
    height: 225px;  
    border: none;  
    border-radius: 8px;        
  
}
.text {
    flex: 1;       
    font-size: larger;

  
}
.rano {
    display: flex;
    gap: 20px;
    margin: 20px;
    justify-content: center;
}

.text {
    flex: 1;
    font-size: larger;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}

